


.year-container{
}

.month-item {
  background: tomato;
  padding: 5px;
  //width: auto;
  height: auto;
  margin-top: 10px;
  color: white;
  text-align: center;
}

ul {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0px;
  list-style: none;
}

li{

}